apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - install.yaml
patches:
  - path: deployment.yaml
    target:
      kind: Deployment
patchesStrategicMerge:
  - |-
    apiVersion: policy/v1beta1
    kind: PodDisruptionBudget
    metadata:
      name: metrics-server
      namespace: kube-system
    $patch: delete
